h1{
  color: green;
  text-align: center;
  text-decoration: underline;
}
img{
  align: center;

}
body{
  background-image: url(code.jepg;);
}
p {
  text-align: center;
  line-height: 1.4;
  magin left: : 50px;
  magin right: : 50px;
  color:black;
}
table{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
.section{
  background-image:url(code.jepg;)
  background-color: red;

}
.list{
  text-align: left;
}
.black{
  background-color: green;

}
.do{
  background-color: green;
  color: white;
}
.menu ul{
  margin: 50px;
  text-align: right;

}
.menu ul li{
list-style: none;
margin: 0 20px;
color: green;

}
