h1{
  color: green;
  text-align: center;
  text-decoration: underline;
}
img{
  align: center;
}
body{
  background i
}
p {
  text-align: center;
  line-height: 1.4;
  magin left: : 50px;
  magin right: : 50px;
  color:black;
}
table{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
.section{
  background-color: green
  color:white
}
